.login{
    display: flex;
}
.loginform{
    width: 58vw;
    margin-left: 10vw;
    margin-top: 12vh;
}
.loginform form{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.loginform form > input{
    height: 6vh;
    width: 33vw;
    margin-bottom: 4vh;
    border-radius: 7px;
    border: 2px solid #C2C2C2;
    padding-left: 20px;
}
.loginform form > button{
    margin-top: 4vh;
    height: 5vh;
    width: 15vw;
    background-color: #ED5353;
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
}
.loginpic img{
    height: 100vh;
    margin-bottom: -5px;
    width: 42vw;
    position: relative;
}
.loginpictext{
    position: absolute;
    z-index: 3;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    font-size: 37px;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    margin-top: 50px;
    background-color: white;
}